Gestión de Tablas Google Big Query <br>
https://www.youtube.com/watch?v=Z5Xr3DjgrLM

> Librerías

In [6]:
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account

> Cargando CSV

In [7]:
categories = pd.read_csv("./MOCK_DATA.csv")

> Creando Datasets en Google BigQuery con replace

In [8]:
key_path = './GBQ.json'
credentials = service_account.Credentials.from_service_account_file(
    key_path, scopes = ["https://www.googleapis.com/auth/cloud-platform"]
)

In [9]:
categories.to_gbq(
    credentials=credentials,
    destination_table='bigquery_tips.categories',
    if_exists='replace'
)

> Enviando datos para Google BigQuery con append

In [10]:
New_group = pd.DataFrame(
    {
        'id': [201,202,203,204],
        'first_name': ['Pía','Franco','Joaquin','Marcos'],
        'last_name': ['Ruiz','Pietrokovsky','Gomez','Calixto'],
        'email': ['mpiaruiz@gmail.com','francodavidpietrokovsky@gmail.com','gomezjoaquin83@gmail.com','marcoscalixto92@gmail.com'],
        'gender': ['Female','Male','Male','Male'],
        'ip_address': ['127.0.0.1','127.0.0.1','127.0.0.1','127.0.0.1']
    }
)
New_group

,id,first_name,last_name,email,gender,ip_address
0,201,Pía,Ruiz,mpiaruiz@gmail.com,Female,127.0.0.1
1,202,Franco,Pietrokovsky,francodavidpietrokovsky@gmail.com,Male,127.0.0.1
2,203,Joaquin,Gomez,gomezjoaquin83@gmail.com,Male,127.0.0.1
3,204,Marcos,Calixto,marcoscalixto92@gmail.com,Male,127.0.0.1

In [11]:
New_group.to_gbq(
    credentials=credentials,
    destination_table='bigquery_tips.categories',
    if_exists='append'
)

<hr>

Querys Google Big Query<br>
https://www.youtube.com/watch?v=lLPdRRy7dfE&list=PLOw2tI2CxNcvIR0U6dShR3RXSml6Ooaxj&index=3&t=284s

> Librerías

In [12]:
import os
from google.cloud import bigquery

> Credenciales

In [13]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "GBQ.json"
bq = bigquery.Client()

> Consultas (querys)

In [14]:
sql_query = ''' 
SELECT * FROM `pf-henry-365404.bigquery_tips.categories` 
ORDER BY id DESC
LIMIT 4;
'''

In [15]:
query_job = bq.query(sql_query)

In [16]:
query_job.to_dataframe()

,id,first_name,last_name,email,gender,ip_address
0,204,Marcos,Calixto,marcoscalixto92@gmail.com,Male,127.0.0.1
1,203,Joaquin,Gomez,gomezjoaquin83@gmail.com,Male,127.0.0.1
2,202,Franco,Pietrokovsky,francodavidpietrokovsky@gmail.com,Male,127.0.0.1
3,201,Pía,Ruiz,mpiaruiz@gmail.com,Female,127.0.0.1